/* GLOBAL */
body{
	font-size: $font-14;
}
a{
	font-size: $font-14;
	&.active{
		color: $color-live;
	}
}
.small-info{
	i{
		font-size: $font-50;
		color: $color-live;
	}
	.info-caption{
		color: $color-dark;
	}
	.info-content{
		color: $color-gray;
	}
}
.row-info{
	margin-top: 20px;
}

/* HEADER */
.nav-wrapper{
	background: $color-base;
	height: 64px;
}
.logo{
	height:64px;
}

/* TABS */
.tab-options{
	margin-bottom: 20px;
	.tabs{
		.tab a{
			color: $color-light;
			&.active{
				color: $color-dark;
			}
		}
		.indicator{
			background-color: $color-live;
		}
	}
}
.profile-photo{
	height: 170px;
	width: auto;
}

.parallax-container{
	width: 100%;
}
@media #{$small-and-down}{
	.slider, .slider ul, .parallax-container{
		height: 200px !important;
	}
	.parallax img{
		bottom: 185px;
	}
}
@media #{$medium-and-up}{
	.slider, .slider ul, .parallax-container{
		height: 400px !important;
	}
}

/* COLLAPSIBLE */
.collapsible{
	margin: 0.5rem 0 3rem 0 !important;
	.collapsible-body{
		width: 90%;
		margin: 0 auto;
		ul{
			margin: 0 15px !important;
		}
		p{
		padding: 10px !important;
		}
	}
	.collapsible-header{
		&.active{
			border-bottom: 1px solid $color-live;
			background: $color-lighter;
		}
		font-weight: bold;
		i{
			color: $color-live;
		}
	}
}
@media #{$small-and-down}{
	.collapsible-header{
		font-size: $font-9;
		&.active{
			font-size: $font-14;
		}
	}
}